.idea/
.vscode/
config.php
uploads/tmp/*
!uploads/tmp/where_uploads_are_done.txt
uploads/imagesObjets/*
!uploads/imagesObjets/a9Tz4LpQcXw82Yb.jpg
!uploads/imagesObjets/aW7Xz3KpVbLq19T.jpg
!uploads/imagesObjets/dWc3XpV9MqL7zRy.jpg
!uploads/imagesObjets/fB6YmRp2tAVXzKd.jpg
!uploads/imagesObjets/L9XtYwqaZrK83CJ.jpg
!uploads/imagesObjets/MkV7dWpLgQ1rXzT.jpg
!uploads/imagesObjets/PqKmZRY29xTW48j.jpg
!uploads/imagesObjets/pTq91MXzRwe6YuD.jpg
!uploads/imagesObjets/Qz4rJmA28YTkX6b.jpg
!uploads/imagesObjets/TzKvWpXY93MLRaQ.jpg
!uploads/imagesObjets/XpWKmTzLYRq843v.jpg
!uploads/imagesObjets/xvD4zLKtp8MaqWY.jpg
!uploads/imagesObjets/Yc3qNzX84JrKbvF.jpg
!uploads/imagesObjets/YRpTqzWXMvL983K.jpg
!uploads/imagesObjets/zL84xPvBcYRm1qA.jpg